(function () {
    'use strict';

    angular
        .module('<%= moduleName %>')
        .controller('<%= controllerName %>', <%= controllerName %>);

    <%= controllerName %>.$inject = [];
    /* @ngInject */
    function <%= controllerName %>() {
        var vm = this;

        vm.menu = {

        };

        vm.model = {};

        activate();

        function activate() {

        }
    }
})();
